.first_session{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: black;
  opacity: 0.7;
  display: none;
  justify-content: center;
  align-items: center;
  &_wrapper{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    select{
      display: inherit;
    }
    .fa-times {
      color: white;
      font-size: 18px;
      margin-left: auto;
      cursor : pointer;
    }
    h1{
      color: white;
      font-size: 28px;
    }
    .first_session_form{
      .radio_button{
        position: relative;
        img{
          background-color:white;
          border-radius: 37.5px;
          height: 75px;
          width: 75px;
        }
        h3{
          font-size: 18px;
          color: white;
          position: absolute;
          top: -63px;
          left: 0;
          height: 75px;
          width: 75px;
          text-align: center;
          line-height: 75px;
          background-color: gray;
          border-radius: 37.5px;
          box-sizing: border-box;
          opacity: 0;
          display: none;
        }
        .clicked{
          background-color: rgb(174, 0, 255);
        }
        label{
          display: none;
        }
      }

      .first_session_button{
        color:white;
        background-color: black;
        border: white solid 1px;
        padding: 3px;
        border-radius: 3px;
      }
      .first_session_button:hover{
        cursor : pointer;
      }
    }
  }
}