.top-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 url("/images/top_page_background.jpg") center center;
  background-size: cover;
  animation-name: background-img;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  @keyframes background-img {
    0% {opacity: 0}
    100%{opacity: 0.7}    
  }
  &-contents {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 50%;
    position: relative;
    .disappear{
      display: none;
    }
    .search_area{
      color: white;
      width: 40vw;
      height: 100px;
      .search-form{
        opacity: 0;
      }
      .font-awesome{
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: white;
      }
      &_result{
        color: white;
      }
    }
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 28px;
    }
    &-search-box{ 
      h3{ 
        background-color: transparent;
        height: 50px;
        border-radius: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i{
          font-size: 35px;
        }
        
      }
      h3:hover{
        background-color: rgb(121, 121, 121);
        opacity: 0.7;
        transition: 0.7s;
        i{
          display: none;
        }
        
      }
      h3:hover:after{
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      .top-page-contents-search-box-btn-index:hover:after{
        content: 'Brand Index';
      }
      .top-page-contents-search-box-btn-ranking:hover:after{
        content: 'Ranking';
      }
      .top-page-contents-search-box-btn-world:hover:after{
        content: 'World Brands';
      }
      .top-page-contents-search-box-btn-search:hover:after{
        content: 'Search';
      }
    }
    
  }
  
  
}
.test{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 35px;

  }
}
.home_brand{
  width: 100%;
  height: 100vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h1{
    color : white;
    
  }
  &_slide_show{
    position: relative;
    height: 100%;
    &_background{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
      display: none;
      opacity : 0;
      
    }

    position: relative;
    width: 100vw;
    height: 300px;
    box-sizing: border-box;
    &_container{
      position: absolute;
      display: none;
      height: 300px;
      box-sizing: border-box;
      top: 100%;;
      img{ 
        max-width: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%); /* Safari用 */
        transform: translateY(-50%);
      }
      img:hover{
        max-width: 200%;
        transition: 0.3s;
      }
    }
    .center{
      display: block;
      left: 37.5%;
      max-width: 22.5%;
      z-index: 3;
      transition: 0.5s;
    }
    .left1{
      display: block;
      left: 17%;
      max-width: 16.6%;
      z-index: 2;
      transition: 0.5s;
    }
    .left2{
      display: block;
      left: 10%;
      max-width: 8.3%;
      z-index: 1;
      transition: 0.5s;
    }
    .right1{
      display: block;
      right: 17%;
      max-width: 16.6%;
      z-index: 2;
      transition: 0.5s;
    }
    .right2{
      display: block;
      right: 10%;
      max-width: 8.3%;
      z-index:1;
      transition: 0.5s;
    }

  }
}
.test_blue{
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1{
    color : white;
    
  }
  #map-continents {
    opacity: 0;
    span{
      span{
        color: rgb(58, 58, 58);
      }
      
    }
  }
}