.index_page{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  .brand_container{
    color: white;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    flex-direction: column;
    
    a{
      width: 100%;
      text-align: center;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      flex-direction: column;

      img{
        object-fit: contain;
        height: 80%;
      }
    }
    &:hover {
      background-color: gray;
      transition: 0.3s;
    }   
  }  
}