.ranking_page{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  h1{
    font-size: 28px;
    color: white;
  }
  &_all{

    .brand_container{
      color: white;
      height: 200px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      border-radius: 10px;
      h1{
        position: absolute;
        top : 20%;
        left : 10%;
      }
      img{
        object-fit: contain;
        height: 80%;
      }
      &:hover {
        background-color: gray;
        transition: 0.3s;
      }   
    }
  }
}