.show_brand_wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &_upper{
    display: flex;
    align-items: center;
    flex-direction: column;
    &_image{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      box-sizing: border-box;
      img{
        padding :10px 10px 30px 30px;
        width: 50%;
      }
    }
    &_detail{
      box-sizing: border-box;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: center;
      h1{
        font-size: 3em;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px white solid;
      }
      h2{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.2em;
        text-align: left;
        position: relative;
        a{
          text-decoration: none;
          color: white;
        }
        a:before{
          content: "\f0c1　";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
      ul {
        margin-top: 15px;
        .fab{
          font-size:30px;
          color: lightgray;
        }
      }
      &_form{
        width: 100%;
        
        #comment{
          height: 100px;
          background: gray;
          color: white;
        }
        #slider{
          margin-top: 15px;
          position: relative;
          background-color: gray;
          .hidden_box{
            display:none;
            color: white;
            .rating{
              color:white;
            }
          }
          .ui-slider-range{
            background: linear-gradient(to right, #ff8a9e, #b03aff) ;
            border: black;
          }
          .ui-slider-handle{
            width: 0;
            height: 0;
          }
        }
        .button{
          width: 50%;
          height: 30px;
          margin-top: 10px;
          color:white;
          background-color: black;
          border: white solid 1px;
          padding: 3px;
          border-radius: 3px;
          cursor: pointer;
        }
        .button:hover{
          color:white;
          background-color: gray;
          transition: 0.5s;
        }
      }
      p {
        text-align: left;
      }
      &_comments{
        margin-top: 10px;
        border: 1px white solid;
        width :100%;
        height: 200px;
        overflow: scroll;
        &_box{
          text-align: left;
          width: 100%;
          min-height: 50px;
        }
      }
    }
  }
  &_lower{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &_twitter, &_facebook{
      width: 500px;
      img{
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}