.show_brand_wrapper {
  // padding-top: 200px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &_upper{
    height: 600px;
    &_image{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 400px;
      box-sizing: border-box;
      img{
        padding :10px 10px 30px 30px;
        width: 100%;
      }
    }
    &_detail{
      box-sizing: border-box;
      text-align: center;
      color: white;
      height: 600px;
      width: 60%;
      display: flex;
      flex-direction: column;
      h1{
        font-size: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px white solid;
      }
      h2{
        padding: 10px 0px;
        font-size: 15px;
        text-align: left;
        a{
          text-decoration: none;
        }
      }
      ul {
        margin-top: 15px;
        .fab{
          font-size:80px;
        }
        .fa-facebook-square{
          color: #3B5998;
        }
        .fa-twitter-square{
          color: #55acee;
        }
        .fa-instagram{
          color: #D93177;
        }
      }
      &_comments{
        height: 100px;
        width: 100%;
        .comment_form{
          padding-left: 0;
        }
        #slider{
          margin-top: 15px;
          position: relative;
          background-color: gray;
          .hidden_box{
            display:none;
            color: white;
            .rating{
              color:white;
            }
          }
          .ui-slider-range{
            background: linear-gradient(to right, #ff8a9e, #b03aff) ;
            border: black;
          }
          .ui-slider-handle{
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
  &_lower{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}