.search_area_nav{
  z-index: 9;
  position: absolute;
  right: 20px;
  .search-form_nav-area{
    color: white;
  }
}
nav{
  border-bottom: white solid 1px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
  .animal_link{
    padding-top: 9px;
    .session_animal{
      background-color:white;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
  
}
