.search_area_nav{
  z-index: 9;
  position: absolute;
  right: 20px;
  .search-form_nav-area{
    color: white;
  }
}
nav{
  border-bottom: white solid 1px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  height: 75px;
  .fa-home{
    margin-left: 10px;
  }
  
}
