.ranking_page
  %h1 World Ranking
  .ranking_page_all.row
    - @brands.each_with_index do |brand, index|
      = link_to brand_path(brand) do
        .brand_container.col.s12.m12.l12
          %h1 No.#{index + 1}
          = brand.name
          - begin
            = image_tag brand.image.to_s
          - rescue


        
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js", :type => "text/javascript"}
