.ranking_page
  %h1 World Ranking
  .ranking_page_all.row
    - @brands.each_with_index do |brand, index|
      .brand_container.col.s12.m12.l12
        %h1 No.#{index + 1}
        = brand.name
        - if brand.twitter  
          = image_tag @client.user_search(brand.twitter.sub("https://twitter.com/", ""), count: 5).first.profile_banner_uri_https.to_s
        
          
= javascript_include_tag 'brands/ranking.js'
