- unless (request.fullpath == brands_path)
  %h3
    = link_to "https://www.instagram.com/fumihiko0816/" do
      %i.left.fab.fa-instagram
    This website is created by https://www.instagram.com/fumihiko0816/
  %iframe{:align => "middle", :frameborder => "0", :height => "196", :scrolling => "no", :src => "https://www.gaydatelink.com/IPFrame.aspx?affliateid=53756BTE1SB&program=PPE&display=horizontal&showTitle=1&showProfile=1&showJoinNow=0&imageWidth=80&imageHeight=106&maxDistance=25&explicit=1&imageCount=6&tableWidth=100%&titleColor=%23FFFFFF&textColor=%23FFFFFF&linkColor=%23FFFFFF&bgColor=%23000000&borderColor=%23999999&minAge=18&maxAge=45&site=2&popup=1&gender=1", :width => "100%"}